<div class="border border-dark">
  <div class="show-post">
    <p class="user-name fs-3">Post by: <%=@post.author.name%></p>
    <p class="comments-likes">Comments: <%=@post.comment_counter%>, Likes: <%=@post.likes_counter%></p>
  </div>
  <p class="fs-4 p-3"><%=@post.text%></p>
</div>
<% @post.comments.each do |comment| %>
  <%= render 'comment', comment: comment %>
<% end %>
<div class="like-btn text-center">
  <%=render 'likes/new' %>
  <button class="btn container btn-outline-dark"><%= link_to 'Add a comment', new_user_post_comment_path(@user.id,@post.id) ,class: "text-decoration-none fs-5 text-dark "  %></button>
</div>
