<section class=pad>
 <div class=border>
    <div class="show-post">
        <div class="user-name">Post by: <%=@post.author.name%></div>
        <p class="comments-likes">Comments: <%=@post.comment_counter%>, Likes: <%=@post.likes_counter%></p>
      </div>
      <div class="show-detail">
        <%=@post.text%>
      </div>
    </div>
    <div class="border">
        <% @post.comments.each do |comment| %>
          <%= render 'comment', comment: comment %>
        <% end %>
    </div>
 </div>
 <button><%= link_to 'Add a comment', new_user_post_comment_path(@user.id,@post.id) %></button>
 </section>